{% extends 'base.html' %}
{% block content %}
    <div class="wrapper">
        <h1 class="page-title">Задачи</h1>
    </div>

    <!-- Список задач -->
    <section>
        <div class="course-catalog-wrapper">
            <div class="course-catalog">
                {% for item in exercise %}
                <a href="#" class="card-link">
                    <div class="course-card">
                        <div class="course-card-container">
                            <div class="course-card__content">
                                <p class="course-card__title">
                                    {{ item.exercise_title }}
                                </p>
                                <div class="course-card__categories">
                                    <p class="course-card__category">
                                        {{ item.exercise_category }}
                                    </p>
                                </div>
                                <p class="course-card__description">
                                    {{ item.exercise_content|safe|truncatewords:15 }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}