{% extends 'base.html' %}
{% block content %}
    <!-- Навигация по практике  -->
    <div class="practice-menu">
        <a href="{% url 'exercise' %}" class="practice-menu__link">
            <div class="practice-menu__item practice-menu__item-first">
                <p class="practice-menu__item-title">
                    Задачи
                </p>
            </div>
        </a>
        <a href="#" class="practice-menu__link">
            <div class="practice-menu__item practice-menu__item-second">
                <p class="practice-menu__item-title">
                    Собеседование
                </p>
            </div>
        </a>
        <a href="#" class="practice-menu__link">
            <div class="practice-menu__item practice-menu__item-third">
                <p class="practice-menu__item-title">
                    Технические<br>задания
                </p>
            </div>
        </a>
    </div>
{% endblock %}